body {
  background-color: rgb(250, 248, 248);
}

.custom-gradient {
  background: linear-gradient(to right, #214e44, #292b4e);
  color: #fff;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 5rem;
  height: 5rem;
}